<div class="col-md-6">
<h3>Your information</h3>
<p>
<strong>Name:</strong>
<%= @user.forename %> <%= @user.surname %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
</div>

<div class="col-md-6">
    <br>
    <%= link_to 'Change password', edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to 'Delete account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>

<div class="col-md-12 well">
    <div class="col-md-2">
        <p><strong>Teams:</strong></p>
    </div>
    <div class="col-md-10">
        <% @user.teams.order(updated_at: :desc).each do |team| %>
            <p><%= link_to team.name, team %></p>
        <% end %>
    </div>
</div>

<div class="col-md-12 well">
    <div class="col-md-2">
        <p><strong>Projects:</strong></p>
    </div>
    <div class="col-md-10">
        <% @user.projects.order(updated_at: :desc).each do |project| %>
            <p><%= link_to project.name, project %></p>
        <% end %>
    </div>
</div>

