<h3>Your information</h3>
<p>
<strong>Name:</strong>
<%= @user.forename %> <%= @user.surname %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>

<div class="col-md-12 no-padding">
    <div class="col-md-2 no-padding">
        <p><strong>Teams:</strong></p>
    </div>
    <div class="col-md-10">
        <% @user.teams.each do |team| %>
            <p><%= link_to team.name, team %></p>
        <% end %>
    </div>
</div>

<div class="col-md-12 no-padding">
    <div class="col-md-2 no-padding">
        <p><strong>Projects:</strong></p>
    </div>
    <div class="col-md-10">
        <% @user.projects.each do |project| %>
            <p><%= link_to project.name, project %></p>
        <% end %>
    </div>
</div>

<%= link_to 'Change password', edit_user_path(@user), class: 'btn btn-default' %>
