<div class="col-md-6">
<h3>User information</h3>
<p>
<strong>Name:</strong>
<%= @user.forename %> <%= @user.surname %>
</p>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
</div>

<div class="col-md-6">
    <br>
    <%= link_to 'Change password', edit_user_path(@user), class: 'btn btn-default' unless @user != current_user %>
    <%= link_to 'Delete account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' unless @user != current_user %>
</div>
<div class="col-md-12">
    <%= form_tag("#{@user.id}/report.pdf", { class:'form-inline', method: :get, format: 'pdf'}) do %>
    <div class="form-group">
        <%= text_field_tag :start_time, '', class: 'form-control datepicker-no-hours', placeholder: 'Beginning from' %>
    </div>
    <div class="form-group">
        <%= text_field_tag :end_time, '', class: 'form-control datepicker-no-hours', placeholder: 'until' %>
    </div>
    <div class="form-group">
        <%= submit_tag 'Generate report', class: 'btn btn-default' %>
    </div>
<% end %>
</div>
<% if @requests[:display] %>
    <div class="col-md-12 well">
        <div class="col-md-2">
            <p><strong>Pending team requests:</strong></p>
        </div>
        <div class="col-md-10">
            <% @requests[:pending].each do |pending| %>
                <p>
                <%= Team.find_by(id: pending.team_id).name %>
                <%= link_to 'Accept', accept_team_path(id: pending.id, team_id: pending.team_id), method: :post, class: 'btn btn-default btn-xs' %>
                <%= link_to 'Decline', decline_team_path(id: pending.id), method: :post, class: 'btn btn-danger btn-xs' %>
                </p>
            <% end %>
        </div>
    </div>
<% end %>

<div class="col-md-12 well">
    <div class="col-md-2">
        <p><strong>Teams:</strong></p>
    </div>
    <div class="col-md-10">
        <% @teams.each do |team| %>
            <p><%= link_to team.name, team %></p>
        <% end %>
    </div>
</div>

<div class="col-md-12 well">
    <div class="col-md-2">
        <p><strong>Projects:</strong></p>
    </div>
    <div class="col-md-10">
        <% @projects.each do |project| %>
            <p><%= link_to project.name, project %></p>
        <% end %>
    </div>
</div>

