<div class="col-md-8">
<h3><%= @project.name %></h3>
<p>
<strong>Team:</strong>
<%= link_to @project.team.name, @project.team %>
</p>
<p>
<strong>Total hours used:</strong>
<%= sprintf "%.1f", @project.total_hours_used %> h
</p><br>
</div>
<div class="col-md-4">
    <br>
    <%= link_to 'Edit project', edit_project_path(@project), class: 'btn btn-default' %>
    <%= link_to 'Delete project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
<div class="row">
    <% @project.hours_used_by_user.each do |user| %>
        <div class="col-md-12">
            <div class="col-md-2 no-wrap">
                <%= link_to user[1][:name], user_path(user[1][:id]) %>
            </div>
            <div class="col-md-5">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= user[1] %>" aria-valuemin="0" aria-valuemax="<%= @project.total_hours_used %>" style="width: <%= user[1][:percent] %>%;">
                        <%= sprintf "%.1f", user[1][:hours] %>h
                        <% if !user[1][:alloc_hours].nil? %>
                            / <%= user[1][:alloc_hours] %>h
                        <% end %>
                    </div>
                    <% if !user[1][:alloc_hours].nil? %>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= user[1] %>" aria-valuemin="0" aria-valuemax="<%= @project.total_hours_used %>" style="width: <%= user[1][:over] %>%;"></div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-2">
                <%= form_for @allocation, html: {class: 'form-inline'} do |f| %>
                    <%= hidden_field_tag :user_id, user[1][:id] %>
                    <%= hidden_field_tag :project_id, @project.id %>
                    <%= hidden_field_tag :name, user[1][:name] %>
                    <div class="form-group">
                        <%= label_tag :hours, 'Allocate hours', class: 'sr-only' %>
                        <div class="input-group no-wrap">
                            <%= text_field_tag :alloc_hours, user[1][:alloc_hours], class: 'form-control form-xs', id: "allocate-#{user[1][:id]}", placeholder: 'Allocate hours', style: 'width: 80%' %>
                            <%= button_tag(type: 'submit', id: "button-#{user[1][:id]}", class: "input-group-addon form-xs btn btn-default") do %>
                                <%= fa_icon 'history' %>
                             <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-2">
                <% if !user[1][:alloc_hours].nil? %>
                <%= form_tag deallocations_path(@project), method: 'DELETE' do %>
                    <%= hidden_field_tag :user_id, user[1][:id] %>
                    <%= hidden_field_tag :project_id, @project.id %>
                    <%= hidden_field_tag :name, user[1][:name] %>
                    <div class="form-group">
                        <%= button_tag(type: 'submit', class: 'btn btn-danger form-xs', id: "deallocate-#{user[1][:id]}") do %>
                            <%= fa_icon 'trash-o' %>
                        <% end %>
                    </div>
                <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
