<% if not current_user.nil? %>
    <li><%= link_to 'Add an hour', new_event_path %></li>
    <li><%= link_to 'Calendar view', events_path %></li>
    </ul><ul class='nav navbar-right navbar-nav'>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Teams', teams_path %></li>
    <li><%= link_to 'My page', current_user %></li>
    <li class='divider'></li>
    <li><%= link_to 'Signout', signout_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'Signin', signin_path %></li>
    <li><%= link_to 'Signup', signup_path %></li>
<% end %>
